body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 24px;
    max-width: 640px;
    line-height: 125%;
    background-color: #ededed;
}
.widget {
    background-color: #dbdbdb;
    padding: 10px;
}
a {
    color: #000;
}
a:hover {
    color: #333333;
}